* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  letter-spacing: 14px;
}

.quadrado {
  background: #eee;
  color: #000;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 3px 1.5px 3px 1.5px;
  font-size: 60px;
  justify-content: center;
}

.jogador, .vencedor {
  font-size: 30px;
  margin-top: 10px;
}

button {
  background: #eee;
  margin-top: 10px;
  height: 35px;
  width: 100px;
  cursor: pointer;
}