@font-face {
	font-family: Titulo;
	src:url(../fonts/Hashtag.ttf);
}

:root {
  --cinza: #eeeeee;
  --preto:#141414;
  --branco: #ffffff;
  --amarelo:#eecc0e;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: var(--branco);
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}

h1 {
  font-family: Titulo;
  font-size: 40px;
  letter-spacing: 18px;
}

.box {
  background: var(--cinza);
  color: var(--cinza);
  cursor: pointer;
  display: inline-block;
  width: 110px;
  height: 110px;
  padding: 20px;
  margin: 3px 1.5px 3px 1.5px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
}

.box:hover {
  background: var(--amarelo);
  color: var(--preto);
}

.info {
  font-size: 30px;
  margin-top: 10px;
}

label {
  margin-bottom: 10px;
}

button {
  background: var(--preto);
  border: 2px solid var(--cinza);
  color: var(--branco);
  margin-top: 10px;
  height: 40px;
  width: 110px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}