@font-face {
	font-family: Titulo;
	src:url(../fonts/Hashtag.ttf);
}

:root {
  --cinza: #eeeeee;
  --preto:#141414;
  --branco: #ffffff;
  --amarelo:#eecc0ea4;
  --verde:#0eee46a4;
}

.dark:root {
  --cinza: #eeeeee;
  --preto:#ffffff;
  --branco: #141414;
  --amarelo:#eecc0ea4;
  --verde:#0eee46a4;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: var(--branco);
  font-family: Titulo;
  text-align: center;
}

h1 {
  color: var(--preto);
  font-size: 45px;
  letter-spacing: 10px;
  margin: 50px;
}

.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tic-tac-toe {
  display: grid;
  grid-template-areas: 'hash-up' 'hash-center' 'hash-bottom';
}

.box {
  background: var(--cinza);
  color: var(--cinza);
  cursor: pointer;
  display: inline-block;
  width: 125px;
  height: 125px;
  padding: 30px;
  margin: 3px 1.5px 3px 1.5px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
}

.box:hover {
  background: var(--amarelo);
  color: var(--preto);
}

.group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;
}

.hud {
  border: 2px solid #141414;
  border-radius: 30px;
  background-color: #141414;
  color: #ffffff;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 125px;
  height: 135px;
  padding: 10px;
}

label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

button {
  background: var(--preto);
  border: 2px solid var(--cinza);
  color: var(--branco);
  margin: 5px 0 10px;
  height: 35px;
  width: 50px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

/* Dark Mode Feature */ 

.dark-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
	height: 5vh;
}

.checkbox {
  position: absolute;
	opacity: 0;
}

.label {
	background-color: var(--preto);
	border-radius: 25px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	height: 15px;
	width: 30px;
	transform: scale(1.5);
}

.label .ball {
	background-color: var(--branco);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 11px;
	width: 11px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(15px);
}

.fa-moon {
  color: var(--verde);
	transform: scale(0.5);
}

.fa-sun {
  color: var(--branco);
	transform: scale(0.5);
}